<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <add key="ServiceEndpointUrl" value="" />
  <add key="OrganizationKey" value="" />
  <add key="UserLoginName" value="" />
  <add key="DefaultDraftOptionAfterSendCallbackUrl" value="" />
  <add key="DefaultDraftOptionAfterSendRedirectUrl" value="" />
  <add key="DefaultRedirectPolicy" value="" />
  <add key="DefaultRecipientType" value="" />
  <add key="AppendEnvelopeIdToUrl" value="" />
  <add key="AppendDraftIdToUrl" value="" />
  <add key="AppendActionChangedToUrl" value="" />
  <add key="DefaultEnvelopeCallbackUrl" value="" />
  <add key="DefaultEnvelopeStatusUpdateCallbackUrl" value="" />
  <add key="ClientUrl" value="" />
</configuration>